<div class="bgimg container-fluid">
  
  
  
  <div class="container text-center text-white headerset">
          <br>    
      <h2>welcome to my website</h2>
      <h1>its nice to see you at Bhushan's Workstation</h1>
      <br>
      
      <a class="btn" routerLink="feedback"><button class="btn btn-primary btn-outline-light text-white btn-lg" type="button">Subscribe</button></a><br>
      
      </div>
      
  
      
  
  
      </div>



    <div class="bg2img container-fluid">

          <!-- <section id="services" class="bg-img2 text-center" style="background-position: 60% -92px; "> -->
              
              <div class="container-fluid text-center pad ">
                <div class="row">
                  <div class="container col-lg-8 col-lg-offset-2" style="margin-top: -100px;">
                    <h1 class="text-capitalize text-light font-weight-bold">Assignments</h1><br>
                    <p class="font-weight-bold">Here you can go through all  angular 7 assignments</p>
                  </div>
                </div>
          <br><br>
                <div class="row">
                  <div data-wow-delay=".3s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                    <a routerLink="assi1" routerLinkActive="active" >
                     <h4> <i class="icon icon-big ion-ios-analytics-outline" ></i>Assignment 1</h4>
                    </a>
                    <p> How to Create</p>
                  </div>
          
                  <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <a routerLink="assi2" routerLinkActive="active" >
                      <h4><i class="icon icon-big ion-ios-pie-outline"></i>Assignment 2</h4>
                    </a>
                    <p>Binding</p>
                  </div>
          
                  <div data-wow-delay=".9s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                    <a routerLink="assi3" routerLinkActive="active" >
                      <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>Assignment 3</h4>
                    </a>
                    <p>Directives</p>
                  </div>
          
                  <div data-wow-delay="1.2s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                    <a routerLink="assi4" routerLinkActive="active" >
                      <h4><i class="icon icon-big ion-ios-game-controller-b-outline"></i>Assignment 4</h4>
                    </a>
                    <p>Routing,HTTP Obsrvable</p>
                  </div>
          
                  <div data-wow-delay="1.5s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    <a routerLink="assi5" routerLinkActive="active" >
                      <h4><i class="icon icon-big icon ion-ios-infinite-outline"></i>Assignment 5</h4>
                    </a>
                    <p>Forms</p>
                  </div>
          
                  <div data-wow-delay="1.8s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeIn;">
                      <a routerLink="assi6" routerLinkActive="active" >
                    <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>Assignment 6</h4>
                  </a>
                    <p>Costome Directives</p>
                  </div>
          
                  <div data-wow-delay="2.1s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.4s; animation-name: fadeIn;">
                      <a routerLink="assi7" routerLinkActive="active" >
                    <h4><i class="icon icon-big ion-ios-monitor-outline"></i>Assignment 7</h4>
                  </a>
                    <p> Use of Angular Material</p>
                  </div>
          
                  <div data-wow-delay="2.4s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeIn;">
                      <a routerLink="aboutus" routerLinkActive="active" >
                    <h4><i class="icon icon-big ion-ios-settings"></i>Contact Us</h4>
                  </a>
                    <p>whatsup & Facebook link At bottom</p>
                  </div>
          
                </div>
              </div>
            <!-- </section> -->



        
        </div> 
    



      