<div class="card text-center">
    <div class="card-header">
       <h3 class="font-weight-bold text-dark">see you soon..!!</h3> 
    </div>
    <div class="card-body">
      <h3 class="card-title font-weight-bold text-dark">Bhushan's Workspace</h3>
      <p class="card-text">Don't Forget to give your Valuabale Feedback</p>
      <ul class="list-inline">
      

            <a href="https://www.facebook.com/bhushan.fegade.1" target="_blank"><i class="fa fa-facebook-square" style="font-size:28px;color:blue"></i></a> 
            &nbsp;
            <a href="https://www.linkedin.com/in/bhushanfegade" target="_blank"><i class="fa fa-linkedin-square" style="font-size:28px;color:blue"></i></a> 

            &nbsp;
      <a (click)="call()" >
        <i class="fa fa-whatsapp" style="font-size:28px;color:red"></i></a> 
  
      
    </ul>
     
    </div>
    <div class="card-footer text-muted">
      Copyrights @ Bhushan Fegade 2018
    </div>