

  <div class="bgimg">

      <section class="ourteam" id="team">
          <div class="container text-center text-light">
          
              <h1>Our Amazing Team</h1>
              <p>Great things in business are never done by one person. They're done by a team of people.
                </p>
          
              <div class="row teamset">
          
                      <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-block m-auto" >
                      <figure class="figure">
          
          
                          <img src="../../assets/img/team/5.jpg" alt="" class="figure-img img-fluid rounded-circle"
                          height="250px" width="250px">
          
                          <figcaption>
          
                              <h4>kay garland</h4>
          
          
                              <p class="figure-caption ">Lead designer</p>
          
                          </figcaption>
                      
          
          
          
                      </figure>
                      
                      </div>
          
          
                      <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-block m-auto" >
                              <figure class="figure">
                  
                  
                                  <img src="../../assets/img/team/21.jpg" alt="" class="figure-img img-fluid rounded-circle"
                                  height="250px" width="250px">
                  
                                  <figcaption>
                  
                                      <h4>Bhushan Fegade</h4>
                  
                  
                                      <p class="figure-caption text-light">Web Designer</p>
                  
                                  </figcaption>
                              
                  
                  
                  
                              </figure>
                              
                              </div>
          
          
                              <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-block m-auto" >
                                      <figure class="figure">
                          
                          
                                          <img src="../../assets/img/team/6.jpg" alt="" class="figure-img img-fluid rounded-circle"
                                          height="250px" width="250px">
                          
                                          <figcaption>
                          
                                              <h4>lay garland</h4>
                          
                          
                                              <p class="figure-caption">Lead designer</p>
                          
                                          </figcaption>
                                      
                          
                          
                          
                                      </figure>
                                      
                                      </div>
          
          
          
                      </div>
          
          
          
          </div>
          
          
          
          </section>
          

      






  </div>
<div class="bg2img container-fluid">

        <div class="container text-center text-light gap">
          
                <h1>Experience and Expertise in following  technologies</h1>
                <p>Please refer My Github Account for Projects on these Technologies.
                  </p>
                  </div>

  <!-- //////////////////////////corocel///////////// -->

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
                <div class="card-deck">
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/1.jpg" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">C </h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/2.jpg" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">C++ </h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/3.jpg" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center"> Java</h3>
                              </div>
                        </div>
                      </div>                    

          </div>
          <div class="carousel-item">
                <div class="card-deck">
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/4.png" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">PHP</h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/5.png" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">JavaScript</h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/6.jpg" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">Angular</h3>
                              </div>
                        </div>
                      </div>
          </div>
          <div class="carousel-item">
                <div class="card-deck"> 
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/7.png" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">nodejs</h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/8.png" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">MySql</h3>
                              </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="../../assets/img/lang/9.png" alt="Card image cap">
                          <div class="card-footer">
                                <h3 class="font-weight-bold text-center">C# .Net</h3>
                              </div>
                        </div>
                      </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      

  <!-- //////////////////////////corocel///////////// -->


</div>