<br> 
<div class="container-fluid">

  <h1 class=" bg-dark text-white text-lg-center">Assignment 7</h1>

</div>
<div class=" container">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-center text-dark">Click for Question no1 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>
                        1.Create angular application which creates login form which accepts Username and Password from user. When user clicks submit button username and password should be stored in typescripts class characteristics.
                    </strong>
                    <p>
                        Use appropriate form components using angular Material Designing.
                    </p>
                    <hr>
          
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi7-q1></app-assi7-q1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-center text-dark">Click for Question no2 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              

                <div class="container">
                    <strong>
                        2. Create angular application which creates one form for the travelling portal. In that portal we have to display names of cities as a list and user will select any specific city.
                      </strong>
                    <p>
                        We have to accept start date and end date of vacation from user with its necessary details.
                        Use appropriate form components using angular Material Designing.
          
                      </p>
                    <hr>
          
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter2">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle2">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi7-q2></app-assi7-q2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>































            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-center text-dark">Click for Question no3 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

                <div class="container">
                    <strong>
                        3. Create angular application which contains one form which accept car details (Name, type, color ,Car number, number of seats) from user.
          
                      </strong>
                    <p>
                        Provide submit button at the end. Car number is compulsory filed in our form. Use appropriate form components using angular Material Designing.
          
                      </p>
                    <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter3">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle3">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi7-q3></app-assi7-q3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>

              

























            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingOne4">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                  <h3 class="text-center text-dark">Click for Question no4 and its solution</h3>
                </button>
              </h5>
            </div>
        
            <div id="collapseOne4" class="collapse" aria-labelledby="headingOne4" data-parent="#accordionExample">
              <div class="card-body">
                  <div class="container">
                      <strong>
                          4. Create angular application which displays one table which contains names of five books with its author name, number of pages in it and its price.
            
                        </strong>
                      <p>
                          Use appropriate form components using angular Material Designing.
                        </p>
                      <hr>
                      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter4">
      solution
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle4" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle4">solution</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-assi7-q4></app-assi7-q4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
  
  
  
  
                      </div>
                      
  
  
  <!-- ///////////////////////////card 2/////////////////////////// -->
  
                
              </div>
            </div>
          </div>



      </div>



















</div>