<br> 
<div class="container-fluid">

  <h1 class=" bg-dark text-white text-lg-center">Assignment 6</h1>

</div>
<div class=" container">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-center text-dark">Click for Question no1 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>
                        1.Create angular application which creates two custom directives as Comp-Success and Comp-Failure.
                      </strong>
                      <p>
                        In case of Comp-Success directive when we move the mouse cursor over the data element its text colour becomes green and in case of Comp-Failure text colour becomes red.
                            When we remove mouse courser its colour becomes black. We have to use that both directives in one .html file.
                      </p>
                      <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi6-q1></app-assi6-q1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-center text-dark">Click for Question no2 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              

                <div class="container">
                    <strong>
                        2. Create angular application which creates one custom directive named as Custom- Style.
                      </strong>
                      <p>
                          In this directive we have to set background of our text as yellow and type of the text should be bold.
                          Use that custom directive in .html file.
                          In this application there is no need to handle mouse listeners.
                      </p>
                      <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter2">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle2">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi6-q2></app-assi6-q2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>































            </div>
          </div>
        </div>
       
        



      </div>



















</div>