<br> 
<div class="container-fluid">

  <h1 class=" bg-dark text-white text-lg-center">Assignment 2</h1>

</div>
<div class=" container">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-center text-dark">Click for Question no1 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>
                        1. Create application which will display one textfield and one static text “Marvellous Infosystems” on page.
                    </strong>
                    <p>
                      Follow all the steps to create new project and update app.component.html file. In this file add  code to display one static text and one text field.
                    </p>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi2-q1></app-assi2-q1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-center text-dark">Click for Question no2 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              

                <div class="container">
                    <strong>
                        2. Create application which will display one textfield and one static text “Marvellous Infosystems” on page.
                      </strong>
                      <p>
                        Colour of that textfield should be blue.
                        Follow same steps as above application.
                        As we want to specify colour add the specification in app.component.css file and see the changes.
                      </p>
                      <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter2">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle2">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi2-q2></app-assi2-q2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>































            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-center text-dark">Click for Question no3 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

                <div class="container">
                    <strong>
                        3. Create same angular application as above but instead of using app.component.html and app.component.css file separately add its contents in inline format inside app.component.ts file.
                      </strong>
                      <p>
                        Same as the inline html we have to use the inline css contents in app.component.ts file.
                      </p>
                      <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter3">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle3">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi2-q3></app-assi2-q3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>

              

























            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingOne4">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                  <h3 class="text-center text-dark">Click for Question no4 and its solution</h3>
                </button>
              </h5>
            </div>
        
            <div id="collapseOne4" class="collapse" aria-labelledby="headingOne4" data-parent="#accordionExample">
              <div class="card-body">
                  <div class="container">
                      <strong>
                          4. Create angular application which add new component inside root component which will display “Inside Sub Component”.
                        </strong>
                        <p>
                          We have to create the normal angular project. As we want to add new component we can use below command as</p>
                          <div class="col-md-8" style="color:black; background:rgb(173, 173, 173);">
                            ng generate component Marvellous
                          </div>
                          <p>
                          After this command new folder gets created as Marvellous under app folder. which contains multiple files as .html, .css, .ts. Now we can add desired text in .html file.
                          As we want to add this component in our root component use its markup as</p>
                          <div class="col-md-8" style="color:black; background:rgb(187, 186, 186);">
                              {{marvellous}}
                          </div><br>
                          <hr>
                      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter4">
      solution
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle4" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle4">solution</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-assi2-q4></app-assi2-q4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
  
  
  
  
                      </div>
                      
  
  
  <!-- ///////////////////////////card 2/////////////////////////// -->
  
                
              </div>
            </div>
          </div>

<div class="card">
          <div class="card-header" id="headingOne5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5">
                <h3 class="text-center text-dark">Click for Question no5 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne5" class="collapse" aria-labelledby="headingOne5" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>
                        5. Create angular application which will demonstrate the concept of string interpolation.
                        </strong>
                        <p>
                        To demonstrate the string interpolation we can create one characteristics in class as “Name” which should be assigned to some string as
                        Name = “Marvellous”
                        Now use this characteristics in html file using the concept of string interpolation as
                        </p>
                    
                    <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter5">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle5" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle5">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi2-q5></app-assi2-q5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>


      </div>



















</div>