<br> 
<div class="container-fluid">

  <h1 class=" bg-dark text-white text-lg-center">Assignment 5</h1>

</div>
<div class=" container">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-center text-dark">Click for Question no1 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>1.Create Angular Application which displays Admission form.Use “Bootstrap” to design the form. Admission form contains following details of students as Students name, Address, Gender, Mobile number, College name, Email ID, Batch name. Use appropriate bootstrap components for each form details.
                      </strong>
                        <p>After creating the project download bootstrap locally as <br>
                            npm install —save bootstrap <br>
                            Add path of bootstrap file in angular.json file. <br>
                            To use concept of bootstrap please refer the attached book from previous mail. <br>
          
                        </p>
          <hr>
          <strong>2. Use the form which is created by above application and add one new button as submit. When user press submit button we have to display all entered information into log (Use Console.log())
            </strong>
              <p>Add event listener for the button and fetch data from the form and display on console.
              </p>
<hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi5-q1></app-assi5-q1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-center text-dark">Click for Question no2 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              

                <div class="container">
                    <strong>
                        3. Create the angular application which creates template driven form. This form accepts username and password. Username is compulsory while accepting the details.
                    </strong>
                    <p>
                        Use validation technique to create the application.
                    </p>
        <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter2">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle2">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi5-q2></app-assi5-q2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>































            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-center text-dark">Click for Question no3 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

                <div class="container">
                    <strong>4. Create angular application which Accept username and its college name from user. Username is compulsory and it should contains minimum 5 characters in it. College name field is also compulsory but maximum length of password should be 7 characters.
                      </strong>
          
                      <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter3">
   solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle3">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi5-q3></app-assi5-q3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>

              

























            </div>
          </div>
        </div>

        




      </div>



















</div>