<section id="contact" class="content-section text-center">
    <div class="contact-section">
        <div class="container">
          <br>
          <h2>Contact Us</h2>
          <p>Feel free to shout us by feeling the Feedback form or visiting our social network sites like Fackebook,Whatsapp,LinkedIn.</p>
          <p>To Contact us Via Whatsapp & Facebook scroll down to bottom of page  </p>
         
          <div class="row">
            <div class="col-md-12 col-md-offset-2">
                
        <div class="container text-center">

               
        <div class="row text-dark">

                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                <div class="card card-img-top">
                    <img src="../assets/img/about/6.png" alt="" class="card-img img-fluid">
                <div class="card-body">
                <h2 class="card-title"> GitHub </h2>
                <a href="https://github.com/bhushan76" target="_blank">visit profile</a>
                
                </div>
                
                
                </div>
                
                
                </div>
                
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                        <div class="card card-img-top">
                            <img src="../assets/img/about/2.png" alt="" class="card-img img-fluid">
                        <div class="card-body">
                        <h2 class="card-title"> LinkedIn </h2>


                        
                        <a href="https://www.linkedin.com/in/bhushanfegade" target="_blank">Visit Profile</a> 

                        </div>
                        
                        
                        </div>
                        
                        
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                                <div class="card card-img-top">
                                    <img src="../assets/img/about/3.png" alt="" class="card-img img-fluid">
                                <div class="card-body">
                                <h2 class="card-title"> Hackerrank </h2>


                                <a href="https://www.hackerrank.com/bhushanfegade76" target="_blank">Visit Profile</a> 


                               
                                 
                                </div>
                                
                                
                                </div>
                                
                                
                                </div>
                
                
                </div>
                
</div>

             
               
            </div>
          </div>
        </div>
      
    </div>



    





  </section>

  