<div class=" container">

    <form >

        <div  class="container">
          <mat-form-field >
            <input matInput placeholder="Name" value="" #myname>
            <mat-hint>Please enter your name</mat-hint>
          </mat-form-field>
          </div>
         
          <div class="container" >
            <mat-form-field>
              <input matInput placeholder="Enter your password" type="password" #mypass>
              
            </mat-form-field>
          </div>
        
        
        <br>
        <div class="container">
            <button  mat-flat-button (click)="fun(myname.value,mypass.value)">click to submit</button>
        
        
        
          </div>
        
        
        
        </form>


        <div class="container">

            <h4>your name is</h4><br>
            {{name}}
            <h4>your password is</h4><br>
            {{pass}}
            
    
    
        </div>
        

</div>