<br> 
<div class="container-fluid">

  <h1 class=" bg-dark text-white text-lg-center">Assignment 1</h1>

</div>
<div class=" container">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="text-center text-dark ">Click for Question no1 and its solution</h3>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <strong>1. Create basic angular application without editing anything and try
                        to understand project structure.</strong><br>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi1-q1></app-assi1-q1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>
                    


<!-- ///////////////////////////card 2/////////////////////////// -->

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-center text-dark">Click for Question no2 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              

                <div class="container">
                    <p>
                        <strong>2. Create Angular application which will display “Marvellous Infosystems"
                          as header.</strong><br>
                        Follow all the above steps to create new project and update index.html file
                        to display desired string.
                      </p>
            <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter2">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle2">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi1-q2></app-assi1-q2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>































            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-center text-dark">Click for Question no3 and its solution</h3>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

                <div class="container">
                    <p>
                        <strong>3. Create Angular application which will Display Header as “Marvellous Infosystems”
                        and subheader as “Educating for better tomorrow”.</strong><br>
                        For this you have to update app.component.html file and headers as h1 and h2.
                      </p>
            <hr>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter3">
    solution
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle3">solution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-assi1-q3></app-assi1-q3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




                    </div>

              

























            </div>
          </div>
        </div>
      </div>



















</div>